<template>
  <md-card class="md-card-tabs md-card-plain flex-column nav-pills-icon">
    <div class="md-layout">
      <div class="md-size-15 md-small-size-100 md-layout-item">
        <md-card-content>
          <md-list class="leftnav md-layout md-gutter">
            <md-button
              v-for="(item, index) in tabName"
              :key="item"
              @click="switchPanel(tabName[index])"
              class="md-round"
              :class="[
                { active: isActivePanel(tabName[index]) },
                { [getColorButton(colorButton)]: isActivePanel(tabName[index]) }
              ]"
            >
              {{ tabName[index] }}
              <md-icon>{{ tabIcon[index] }}</md-icon>
            </md-button>
          </md-list>
        </md-card-content>
      </div>
      <div class="md-size-85 md-small-size-100 md-layout-item">
        <md-card-content>
          <transition name="fade" mode="out-in">
            <div class="tab-content">
              <div
                :class="getTabContent(index + 1)"
                v-for="(item, index) in tabName"
                :key="item"
                v-if="isActivePanel(tabName[index])"
              >
                <slot :name="getTabContent(index + 1)"
                  >This is the default text!</slot
                >
              </div>
            </div>
          </transition>
        </md-card-content>
      </div>
    </div>
  </md-card>
</template>

<script>
export default {
  props: {
    tabName: Array,
    tabIcon: Array,
    colorButton: {
      type: String,
      default: ""
    }
  },
  data() {
    return {
      activePanel: this.tabName[0]
    };
  },
  methods: {
    switchPanel(panel) {
      this.activePanel = panel;
    },
    isActivePanel(panel) {
      return this.activePanel == panel;
    },
    getColorButton: function(colorButton) {
      return "md-" + colorButton + "";
    },
    getTabContent: function(index) {
      return "tab-pane-" + index + "";
    }
  }
};
</script>

<style lang="scss" scoped>
.tab-content {
  // @media only screen and (max-width: 1024px) {
  padding-left: 0 !important;
  // }
}
.leftnav {
  min-width: 150px !important;
}
</style>
