<template>
  <div class="container">
    <div class="md-layout">
      <h3 class="title">
        志愿者
        <small>Volunteer</small>
      </h3>
      <md-card class="text-center">
        <div class="md-layout-item">
          <h3 class="card-title">
            <i class="material-icons">sentiment_satisfied_alt</i>最衷心的感谢
          </h3>
          <h5 class="card-text">
            2020中文学生开源年会的成功举办与你们的志愿服务息息相关！
          </h5>
        </div>
      </md-card>
      <h3 class="title">
        媒体
        <small>Media</small>
      </h3>
      <div class="md-layout-item md-size-100">
        <div class="md-layout md-gutter md-alignment-center-space-around">
          <People v-for="p in staff.media" :key="p.name" :name="p.name" />
        </div>
      </div>
      <h3 class="title">
        技术支持
        <small>Technical Support</small>
      </h3>
      <div class="md-layout-item md-size-100">
        <div class="md-layout md-gutter md-alignment-center-space-around">
          <People v-for="p in staff.tech" :key="p.name" :name="p.name" />
        </div>
      </div>
      <h3 class="title">
        赞助
        <small>Sponsor</small>
      </h3>
      <div class="md-layout-item md-size-100">
        <div class="md-layout md-gutter md-alignment-center-space-around">
          <People v-for="p in staff.sponsor" :key="p.name" :name="p.name" />
        </div>
      </div>
      <h3 class="title">
        场地
        <small>Site</small>
      </h3>
      <div class="md-layout-item md-size-100">
        <div class="md-layout md-gutter md-alignment-center-space-around">
          <People v-for="p in staff.area" :key="p.name" :name="p.name" />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import staff from "@/data/staff.json";
import People from "@/views/components/About/People.vue";

export default {
  components: {
    People
  },
  data() {
    return {
      staff: staff
    };
  }
};
</script>

<style lang="scss" scoped>
.people + .people {
  margin-inline: 50px;
  @media only screen and (max-width: 768px) {
    margin-inline: 20px;
  }
}
</style>
