<template>
  <div>
    <md-card>
      <md-card-content>
        <div class="md-layout-item">
          <h3 class="title">电子科技大学 LUG</h3>
          <p>
            本社区是由校内 GNU/Linux
            爱好者自发组织的用户团体，为校内Linux用户、自由软件爱好者提供支持与协助。
            <br />致力于推广 Linux 等自由软件，倡导自由软件文化。
          </p>
          <md-button
            class="md-sm md-primary"
            @click="jump_url('https://uestclug.org')"
          >
            <i class="material-icons">web</i>访问网站
          </md-button>
        </div>
      </md-card-content>
    </md-card>
    <md-card>
      <md-card-content>
        <div class="md-layout-item">
          <h3 class="title">四川大学飞扬俱乐部</h3>
          <p>
            四川大学飞扬俱乐部是成都高校界罕有的专业 IT 公益社团。
            <br />我们致力于用最诚恳的态度，最完善的管理，最专业的知识，为广大师生提供免费的
            IT 服务，优化校园生活体验。 <br />自 2003
            年创立以来，已经走过了十一年的风雨征程。在这十一年中，我们多次获得校园十佳社团称号。
            <br />凭借着创新实践、服务川大的宗旨，在师生间获得了极好的口碑。
          </p>
          <md-button
            class="md-sm md-primary"
            @click="jump_url('https://fyscu.com')"
          >
            <i class="material-icons">web</i>访问网站
          </md-button>
        </div>
      </md-card-content>
    </md-card>
    <md-card>
      <md-card-content>
        <div class="md-layout-item">
          <h3 class="title">FCC 成都社区</h3>
          <p>
            freeCodeCamp 成都社区成立于 2016 年，是中国大陆最早一批 FCC
            城市线下社区，目前会员千余人，也是最大的 FCC 城市社区。
            <br />在核心团队 20 余人两年的努力下，FCC 成都已覆盖
            编程教育、技术招聘、行业大会等程序员全职业生涯的公益服务。
          </p>
        </div>
      </md-card-content>
    </md-card>
    <md-card>
      <md-card-content>
        <div class="md-layout-item">
          <h3 class="title">成都理工大学开源协会</h3>
          <p>
            成都理工大学历史悠久，其紧跟科技创新潮流。
            <br />每年招收大批的电子信息类和计算机专业本科生及研究生，并有很多优秀老师执教，与学生一起共学习，共创新。
            <br />校内有包括开源协会，电子协会以及 5704
            工作室等学生社团组织新生培训及合作开发项目，学校社区有良好的学习和创新氛围。
          </p>
        </div>
      </md-card-content>
    </md-card>
    <md-card>
      <md-card-content>
        <div class="md-layout-item">
          <h3 class="title">四川大学智锐计算机协会</h3>
          <p>
            四川大学智锐科创协会成立于 2018 年，成立两年现已在川大有注册会员 200
            余人。在 2018 年的五四评比中获得计算机学院第二名。
            <br />社团旨在培养高水平的现代 C++ 人才，用 C++ 11
            及更新的版本对社团会员进行教学。
          </p>
          <md-button
            class="md-sm md-primary"
            @click="jump_url('https://covariant.cn')"
          >
            <i class="material-icons">web</i>访问网站
          </md-button>
        </div>
      </md-card-content>
    </md-card>
    <md-card>
      <md-card-content>
        <div class="md-layout-item">
          <h3 class="title">电子科技大学微软学生俱乐部</h3>
          <p>
            微软学生俱乐部（Microsoft Student Club，MSC）是微软亚洲研究院在 34
            所双一流建设高校开设的学生组织。
            <br />在成电，MSC 是一个已经有 17 年历史的老牌学生组织。
            <br />在开源方面，成电 MSC 与成电 LUG 在多个活动的组织上深度合作；
            <br />并且在实践空间站，内部学习小组等各类活动中，MSC
            使用开源的方式进行组织规划，倡导开源精神，使得一批成电学生接触开源。
          </p>
        </div>
      </md-card-content>
    </md-card>
    <md-card>
      <md-card-content>
        <div class="md-layout-item">
          <h3 class="title">哈工大LUG</h3>
          <p>
            HITLUG 是由哈工大 GNU/Linux 爱好者建立的社群,为喜爱开源的同学、
            Linux 用户提供交流的平台。社群致力于推广自由软件在学生中的使用,支
            持自由软件的发展,为自由软件注入学生力量。
          </p>
          <md-button
            class="md-sm md-primary"
            @click="jump_url('https://uestclug.org')"
          >
            <i class="material-icons">web</i>访问网站
          </md-button>
        </div>
      </md-card-content>
    </md-card>
    <md-card>
      <md-card-content>
        <div class="md-layout-item">
          <h3 class="title">哈工大CTF俱乐部</h3>
          <p>
            哈尔滨工业大学紫丁香 CTF 俱乐部,带黑阔的娱乐场所,let's hack for fun
          </p>
          <md-button
            class="md-sm md-primary"
            @click="jump_url('https://uestclug.org')"
          >
            <i class="material-icons">web</i>访问网站
          </md-button>
        </div>
      </md-card-content>
    </md-card>
  </div>
</template>

<script>
export default {
  methods: {
    jump_url: url => {
      window.location.href = url;
    }
  }
};
</script>

<style lang="scss" scoped>
.md-card + .md-card {
  margin-top: 0px;
}
</style>
