<template>
  <md-card
    class="md-layout-item md-size-30 md-medium-size-40 md-small-size-40 md-xsmall-size-100 people"
  >
    <md-card-content>
      <md-avatar class="md-avatar-icon md-large">{{ name[0] }}</md-avatar>
    </md-card-content>
    <md-card-action>
      <h4 class="title">{{ name }}</h4>
    </md-card-action>
  </md-card>
</template>

<script>
export default {
  props: ["name"]
};
</script>

<style lang="scss" scoped>
.md-avatar.md-large {
  min-width: 100px;
  min-height: 100px;
  border-radius: 50px;
  font-size: 50px;
}
.people {
  text-align: center;
}
</style>
