<template>
  <div>
    <div class="section">
      <div class="container">
        <md-divider />
        <div class="md-layout">
          <div
            class="md-layout-item md-size-66 md-small-size-80 md-xsmall-size-100 mx-auto"
          >
            <h3 class="title">举办信息</h3>
            <div class="md-layout">
              <div
                class="md-layout-item md-size-80 md-small-size-90 md-xsmall-size-100 mx-auto"
              >
                <div class="tim-typo">
                  <p>
                    <span class="tim-note">会场地址</span>
                    <i class="material-icons">home</i>中国成都市 ·
                    电子科技大学（清水河校区）
                  </p>
                </div>
                <div class="tim-typo">
                  <p>
                    <span class="tim-note">举办时间</span>
                    <i class="material-icons">access_time</i>2020年10月
                  </p>
                </div>
                <div class="tim-typo">
                  <p>
                    <span class="tim-note">主办方</span>
                    <i class="material-icons">people</i>开源工场&电子科技大学LUG&电子科技大学微软学生俱乐部
                  </p>
                </div>
              </div>
            </div>
          </div>
          <Map />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Map from "@/views/components/Home/Map.vue";

export default {
  components: {
    Map
  }
};
</script>

<style lang="scss" scoped>
p .material-icons {
  vertical-align: middle;
  margin-right: 5px;
}
</style>
