<template>
  <div class="wrapper">
    <parallax class="section page-header" :style="headerStyle"> </parallax>
    <div class="main main-raised">
      <div class="container">
        <div class="md-layout md-alignment-center">
          <div class="md-layout-item">
            <Tabs
              :tab-name="['合作社区', '贡献者']"
              :tab-icon="['people', 'favorite']"
              nav-pills-icons
              color-button="primary"
            >
              <!-- here you can add your content for tab-content -->
              <template slot="tab-pane-1">
                <h2>
                  合作社区
                  <small>Communities</small>
                </h2>
                <CoopCommunities />
              </template>
              <template slot="tab-pane-2">
                <h2>
                  筹备委员会
                  <small>Preparatory Committee</small>
                </h2>
                <Contributor />
              </template>
            </Tabs>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Tabs from "@/views/components/About/AboutCard.vue";
import CoopCommunities from "@/views/components/About/CoopCommunities.vue";
import Contributor from "@/views/components/About/Contributor.vue";

export default {
  components: {
    Tabs,
    CoopCommunities,
    Contributor
  },
  props: {
    header: {
      type: String,
      default: require("@/assets/img/bg.reg.png")
    }
  },
  computed: {
    headerStyle() {
      return {
        backgroundImage: `url(${this.header})`,
        backgroundPosition: `0 0`
      };
    }
  }
};
</script>
<style lang="scss" scoped>
.page-header {
  height: 200px;
}
</style>
