<template>
  <div class="wrapper">
    <parallax class="section page-header header-filter" :style="headerStyle">
      <div class="container">
        <div class="md-layout md-alignment-center">
          <div class="md-layout-item md-size-90 md-xsmall-size-100">
            <md-card>
              <md-card-content id="coopcard">
                <h3>联系赞助</h3>
                <p>
                  我们寻求为不同地区的学生讲者提供经济援助。此外，我们希望能让活动与宴会的内容更加丰富。会议不仅致力于鼓励学生了解、参与、贡献开源，同时也为认同开源理念和长期参与开源项目的学生创造交流技术和分享经验的机会。因此，我们欢迎相关企业和组织提供必要的赞助，以为这次会议的成功提供一定的支持。
                </p>
                <p>赞助商将能够在本次活动中获得如下回报：</p>
                <ul>
                  <li>用自身行动支持开源事业</li>
                  <li>拥有与来自全国各地的学术精英交流的机会，紧跟学术前沿</li>
                  <li>挖掘潜力学生，为企业招募年轻优质员工做好准备</li>
                  <li>扩大营销范围，在学生群体中更大范围地推广您的品牌</li>
                </ul>
                <md-button
                  class="md-primary md-round"
                  href="https://gitlab.com/sosconf_zh/sosconf2020-doc/-/raw/master/SOSCONF.zh-2020-Sponsor-v2.pdf"
                >
                  <i class="material-icons">attachment</i>赞助策划
                </md-button>
              </md-card-content>
            </md-card>
          </div>
        </div>
      </div>
    </parallax>
  </div>
</template>

<script>
export default {
  props: {
    header: {
      type: String,
      default: require("@/assets/img/bg.reg.png")
    }
  },
  computed: {
    headerStyle() {
      return {
        backgroundImage: `url(${this.header})`
      };
    }
  }
};
</script>

<style lang="scss">
#coopcard {
  margin: 30px;
  @media only screen and (max-width: 768px) {
    margin: 0px;
  }
}
</style>
