<template>
  <div class="wrapper">
    <parallax class="section page-header header-filter" :style="headerStyle">
      <div class="container">
        <div class="md-layout">
          <div
            class="md-layout-item md-size-70 md-small-size-90 md-xsmall-size-100"
          >
            <h1 class="title">
              SOSCONF.ZH 2020
              <br />2020中文学生开源年会
            </h1>
            <h3>2020年10月18日</h3>
            <br />
            <md-button class="md-info md-lg">
              <i class="fas fa-play"></i> 关于年会
            </md-button>
            <md-button to="/reg" class="md-success md-lg">
              <i class="fas fa-play"></i> 立即报名
            </md-button>
          </div>
        </div>
      </div>
    </parallax>
    <div class="main main-raised">
      <HomeArticle />
      <LocationInfo />
    </div>
  </div>
</template>

<script>
import HomeArticle from "@/views/components/Home/HomeArticle";
import LocationInfo from "@/views/components/Home/LocationInfo";

export default {
  components: {
    HomeArticle,
    LocationInfo
  },
  props: {
    header: {
      type: String,
      default: require("@/assets/img/bg.home.png")
    }
  },
  computed: {
    headerStyle() {
      return {
        backgroundImage: `url(${this.header})`
      };
    }
  }
};
</script>

<style lang="scss" scoped>
.page-header {
  .title,
  h3 {
    color: #3c4858;
  }
  .md-button + .md-button {
    margin-left: 5px;
  }
}
.md-card-actions.text-center {
  display: flex;
}
.md-has-textarea + .md-layout {
  margin-top: 15px;
}
</style>
