<template>
  <div class="wrapper">
    <parallax class="section page-header" :style="headerStyle"></parallax>
    <div class="main main-raised">
      <div class="container md-layout md-gutter md-alignment-center-center">
        <div class="md-layout-item md-size-80">
          <h2>最新进展</h2>
        </div>
        <div class="md-layout-item md-size-80">
          <ProgressCard
            v-for="prog in progress_list"
            :key="prog.url"
            :title="prog.title"
            :time="prog.time"
            :post_id="prog.url"
            >{{ prog.descr }}</ProgressCard
          >
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import ProgressCard from "@/views/components/Progress/ProgressCard.vue";

import progress_list from "@/data/progress.json";

export default {
  data: () => ({
    progress_list: progress_list
  }),
  props: {
    header: {
      type: String,
      default: require("@/assets/img/bg.progress.png")
    }
  },
  components: {
    ProgressCard
  },
  computed: {
    headerStyle() {
      return {
        backgroundImage: `url(${this.header})`,
        backgroundPosition: `0.5 0`
      };
    }
  }
};
</script>

<style lang="scss" scoped>
.page-header {
  height: 200px;
}
.md-card + .md-card {
  margin-top: 0;
}
.main {
  min-height: 80vh;
}
</style>
