<template>
  <div class="wrapper">
    <parallax class="section page-header" :style="headerStyle"></parallax>
    <div class="main main-raised">
      <div class="container md-layout md-gutter md-alignment-center-center">
        <div class="md-layout-item md-size-80">
          <VueMarkdown :source="mdtext"></VueMarkdown>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import VueMarkdown from "vue-markdown";

export default {
  props: {
    header: {
      type: String,
      default: require("@/assets/img/bg.progress.png")
    }
  },
  components: {
    VueMarkdown
  },
  data: () => ({
    mdtext: ""
  }),
  computed: {
    headerStyle() {
      return {
        backgroundImage: `url(${this.header})`,
        backgroundPosition: `0 0`
      };
    }
  },
  methods: {
    refreshHTML() {
      this.$ajax
        .get("doc/progress/" + this.$route.params.post + ".md")
        .then(response => (this.mdtext = response.data))
        .catch(() => {
          this.mdtext = "暂无内容";
        });
    }
  },
  watch: {
    navitem() {
      this.refreshHTML();
    }
  },
  mounted() {
    this.refreshHTML();
  }
};
</script>

<style lang="scss" scoped>
.page-header {
  height: 200px;
}
.md-card + .md-card {
  margin-top: 0;
}

.container {
  padding-top: 30px;
  padding-bottom: 50px;
}
</style>
