<template>
  <div class="wrapper">
    <parallax class="section page-header header-filter" :style="headerStyle">
      <div class="container">
        <div class="md-layout md-alignment-center">
          <div class="md-layout-item md-size-100">
            <RoleSelection />
          </div>
        </div>
      </div>
    </parallax>
  </div>
</template>

<script>
import RoleSelection from "@/views/components/Reg/RoleSelection.vue";

export default {
  components: { RoleSelection },
  props: {
    header: {
      type: String,
      default: require("@/assets/img/bg.reg.png")
    }
  },
  computed: {
    headerStyle() {
      return {
        backgroundImage: `url(${this.header})`
      };
    }
  }
};
</script>
