<template>
  <md-card>
    <md-card-content>
      <h3 class="title">{{ title }}</h3>
      <slot></slot>
    </md-card-content>
    <md-card-actions md-alignment="space-between">
      <p>
        <i class="material-icons" style="vertical-align: middle;">check</i>
        更新时间：{{ time }}
      </p>
      <md-button
        :to="'/progress/' + post_id"
        class="md-simple md-small md-primary"
        >了解更多</md-button
      >
    </md-card-actions>
  </md-card>
</template>

<script>
export default {
  props: ["title", "post_id", "time"]
};
</script>

<style></style>
