<template>
  <md-card class="md-card-tabs nav-pills-icons">
    <md-card-header id="navtabs" data-background-color="primary">
      <md-list class="nav-tabs">
        <md-list-item
          v-for="(item, index) in tabName"
          @click="switchPanel(tabName[index])"
          :key="item"
          :class="[
            { active: isActivePanel(tabName[index]) },
            { [getColorButton(colorButton)]: isActivePanel(tabName[index]) }
          ]"
        >
          {{ tabName[index] }}
          <md-icon>{{ tabIcon[index] }}</md-icon>
        </md-list-item>
      </md-list>
    </md-card-header>

    <md-card-content>
      <transition name="fade" mode="out-in">
        <div class="tab-content">
          <div
            :class="getTabContent(index + 1)"
            v-for="(item, index) in tabName"
            :key="item"
            v-if="isActivePanel(tabName[index])"
          >
            <slot :name="getTabContent(index + 1)"
              >This is the default text!</slot
            >
          </div>
        </div>
      </transition>
    </md-card-content>
  </md-card>
</template>

<script>
export default {
  props: {
    tabName: Array,
    tabIcon: Array,
    colorButton: {
      type: String,
      default: ""
    }
  },
  data() {
    return {
      activePanel: this.tabName[0]
    };
  },
  methods: {
    switchPanel(panel) {
      this.activePanel = panel;
    },
    isActivePanel(panel) {
      return this.activePanel == panel;
    },
    getColorButton: function(colorButton) {
      return "md-" + colorButton + "";
    },
    getTabContent: function(index) {
      return "tab-pane-" + index + "";
    }
  }
};
</script>

<style lang="scss" scoped>
#navtabs {
  max-width: fit-content;
  .nav-tabs {
    background-color: unset !important;
  }
  .active.md-list-item.md-primary button {
    background-color: rgb(60, 72, 88) !important;
  }
}
.md-icon {
  color: white !important;
}
.md-list-item:not(.active) .md-list-item-content {
  padding: 0;
  color: white !important;
}
</style>
