<template>
  <tabs
    :tab-name="['演讲者', '合作社区']"
    :tab-icon="['perm_camera_mic', 'people']"
    color-button="primary"
    id="rolecard"
  >
    <!-- here you can add your content for tab-content -->
    <template slot="tab-pane-1">
      <h3>招募演讲者</h3>
      <p>
        我们希望学生能积极交流，让学生站上舞台，展示诞生在实验室里的创想，分享蕴含在编码中的激情，畅聊属于开源理念的未来!
        <br />了解演讲、闪电演讲、以及Workshop报名详情请点击下方按钮“报名成为演讲者”
        <br />报名截止时间 9月10日
      </p>
      <md-button
        href="https://www.bagevent.com/event/speechApply/6302910"
        class="md-primary md-round"
        >报名成为演讲者</md-button
      >
    </template>
    <template slot="tab-pane-2">
      <h3>加入合作社区</h3>
      <p>
        我们希望各高校开源社区能与我们一同合作，为我们带来更富有多样性的2020中文学生开源年会：
        <br />合作社区将能够在组委会的支持下，承办不同的分会场，举办富有本社区特色的活动。
        <br />若你的社区希望加入我们，请点击“报名加入合作社区”。
      </p>
      <md-button
        href="https://www.bagevent.com/event/registerTicket/6348545"
        class="md-primary md-round"
        >报名加入合作社区</md-button
      >
    </template>
  </tabs>
</template>

<script>
import tabs from "@/views/components/Reg/RoleCard.vue";

export default {
  components: { tabs }
};
</script>

<style lang="scss">
#rolecard {
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 50px;
  @media only screen and (max-width: 768px) {
    padding: 0px;
  }
}
</style>
