<template>
  <div id="material-kit">
    <div :class="{ 'nav-open': NavbarStore.showNavbar }">
      <router-view name="header" />
      <transition name="fade" mode="out-in">
        <router-view />
      </transition>
      <GlobalModal />
      <router-view name="footer" />
    </div>
  </div>
</template>
<script>
import GlobalModal from "@/layout/GlobalModal.vue";

export default {
  components: {
    GlobalModal
  }
};
</script>

<style lang="scss">
.fade-enter-active,
.fade-leave-active {
  transition: 0.3s filter linear, 0.3s -webkit-filter linear;
}
.fade-enter,
.fade-leave-to {
  filter: sepia(60%);
  filter: blur(5px);
}
</style>
