<template>
  <div>
    <modal v-if="this.$store.state.weibo_modal" @close="weibo_modal_hide">
      <template slot="header">
        <h4 class="modal-title">Weibo</h4>
        <md-button
          class="md-simple md-just-icon md-round modal-default-button"
          @click="weibo_modal_hide"
        >
          <md-icon>clear</md-icon>
        </md-button>
      </template>

      <template slot="body">
        <img src="@/assets/img/weibo_qrcode.jpg" style="max-height: 80vh;" />
      </template>
    </modal>
  </div>
</template>

<script>
import Modal from "@/components/Modal.vue";

export default {
  components: { Modal },
  methods: {
    weibo_modal_hide: function() {
      this.$store.commit("update_weibo_modal", false);
    }
  }
};
</script>

<style></style>
