<template>
  <md-toolbar
    id="toolbar"
    md-elevation="0"
    class="md-transparent md-absolute"
    :class="this.dark ? ['nav-dark'] : []"
    :color-on-scroll="colorOnScroll"
  >
    <div class="md-toolbar-row md-collapse-lateral">
      <div class="md-toolbar-section-start">
        <md-button class="md-simple md-white md-dense" to="/">
          <h3 class="md-title">SOSCONF.zh 2020</h3>
        </md-button>
      </div>
      <div class="md-toolbar-section-end">
        <md-button
          class="md-just-icon md-simple md-toolbar-toggle"
          :class="{ toggled: toggledClass }"
          @click="toggleNavbarMobile()"
        >
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </md-button>

        <div class="md-collapse">
          <div class="md-collapse-wrapper">
            <mobile-menu nav-mobile-section-start="false">
              <!-- Here you can add your items from the section-start of your toolbar -->
            </mobile-menu>
            <md-list>
              <md-list-item to="/reg">
                <i class="material-icons">done_all</i>
                <p>参加</p>
              </md-list-item>
              <md-list-item to="/coop">
                <i class="material-icons">contacts</i>
                <p>联系赞助</p>
              </md-list-item>
              <md-list-item to="/progress">
                <i class="material-icons">timeline</i>
                <p>最新进展</p>
              </md-list-item>
              <md-list-item to="/about">
                <i class="material-icons">help</i>
                <p>关于我们</p>
              </md-list-item>

              <md-list-item href="https://t.me/soscon" target="_blank">
                <i class="fab fa-telegram"></i>
                <p class="hidden-lg">Telegram</p>
                <md-tooltip md-direction="bottom"
                  >加入我们的 Telegram 群组</md-tooltip
                >
              </md-list-item>
              <md-list-item @click="toggle_weibo">
                <i class="fab fa-weibo"></i>
                <p class="hidden-lg">微博</p>
                <md-tooltip md-direction="bottom">关注我们的微博</md-tooltip>
              </md-list-item>
              <md-list-item href="https://u.nu/y4liw" target="_blank">
                <i class="fab fa-qq"></i>
                <p class="hidden-lg">QQ</p>
                <md-tooltip md-direction="bottom">加入我们的 QQ 群</md-tooltip>
              </md-list-item>
            </md-list>
          </div>
        </div>
      </div>
    </div>
  </md-toolbar>
</template>

<script>
let resizeTimeout;
function resizeThrottler(actualResizeHandler) {
  // ignore resize events as long as an actualResizeHandler execution is in the queue
  if (!resizeTimeout) {
    resizeTimeout = setTimeout(() => {
      resizeTimeout = null;
      actualResizeHandler();

      // The actualResizeHandler will execute at a rate of 15fps
    }, 66);
  }
}

import MobileMenu from "@/layout/MobileMenu";

export default {
  components: {
    MobileMenu
  },
  props: {
    type: {
      type: String,
      default: "white",
      validator(value) {
        return [
          "white",
          "default",
          "primary",
          "danger",
          "success",
          "warning",
          "info"
        ].includes(value);
      }
    },
    dark: {
      type: Boolean,
      default: false
    },
    colorOnScroll: {
      type: Number,
      default: 0
    }
  },
  data() {
    return {
      weibo_modal: false,
      toggledClass: false
    };
  },
  computed: {
    showDownload() {
      const excludedRoutes = ["login", "landing", "profile"];
      return excludedRoutes.every(r => r !== this.$route.name);
    }
  },
  methods: {
    toggle_weibo() {
      this.$store.commit("update_weibo_modal", true);
    },
    bodyClick() {
      let bodyClick = document.getElementById("bodyClick");

      if (bodyClick === null) {
        let body = document.querySelector("body");
        let elem = document.createElement("div");
        elem.setAttribute("id", "bodyClick");
        body.appendChild(elem);

        let bodyClick = document.getElementById("bodyClick");
        bodyClick.addEventListener("click", this.toggleNavbarMobile);
      } else {
        bodyClick.remove();
      }
    },
    toggleNavbarMobile() {
      this.NavbarStore.showNavbar = !this.NavbarStore.showNavbar;
      this.toggledClass = !this.toggledClass;
      this.bodyClick();
    },
    handleScroll() {
      let scrollValue =
        document.body.scrollTop || document.documentElement.scrollTop;
      let navbarColor = document.getElementById("toolbar");
      this.currentScrollValue = scrollValue;
      if (this.colorOnScroll > 0 && scrollValue > this.colorOnScroll) {
        navbarColor.classList.add(`md-${this.type}`);
        navbarColor.classList.remove("md-transparent");
      } else {
        navbarColor.classList.remove(`md-${this.type}`);
        navbarColor.classList.add("md-transparent");
      }
    },
    scrollListener() {
      resizeThrottler(this.handleScroll);
    },
    scrollToElement() {
      let element_id = document.getElementById("downloadSection");
      if (element_id) {
        element_id.scrollIntoView({ block: "end", behavior: "smooth" });
      }
    }
  },
  mounted() {
    document.addEventListener("scroll", this.scrollListener);
  },
  beforeDestroy() {
    document.removeEventListener("scroll", this.scrollListener);
  }
};
</script>
<style lang="scss" scoped>
#toolbar.nav-dark {
  color: #3c4858 !important;
  h3,
  div,
  p,
  i,
  span {
    color: #3c4858 !important;
  }
}
</style>
