<template>
  <footer
    class="footer"
    :class="{ [`footer-${type}`]: type }"
    :data-background-color="backgroundColor"
  >
    <div class="container">
      <nav>
        <ul>
          <li>
            <router-link to="/coop">
              参与合作
            </router-link>
          </li>
          <li>
            <router-link to="/about">
              联系我们
            </router-link>
          </li>
        </ul>
      </nav>
      <div class="copyright">
        SOSCONF &copy; 2020
      </div>
    </div>
  </footer>
</template>
<script>
export default {
  props: {
    backgroundColor: String,
    type: String
  },
  data() {
    return {
      year: new Date().getFullYear()
    };
  }
};
</script>
<style></style>
