<template>
  <footer class="footer" :class="{ [`footer-${type}`]: type }">
    <div class="container">
      <nav>
        <ul>
          <li>
            <router-link to="/coop">参与合作</router-link>
          </li>
          <li>
            <router-link to="/about">联系我们</router-link>
          </li>
        </ul>
      </nav>
      <div class="copyright">SOSCONF &copy; 2020</div>
    </div>
  </footer>
</template>
<script>
export default {
  props: {
    type: String
  },
  data() {
    return {
      year: new Date().getFullYear()
    };
  }
};
</script>
<style lang="scss" scoped>
.footer {
  color: white;
  position: absolute;
  bottom: 0;
  width: 100%;
}
</style>
